<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />


</head>

}

<body>

    <div class="container p-5">
        <div class="card">
            <div class="card-body">
                <h1>
                    <center>อัพโหลดรูปATK</center>
                </h1>
                <h1>สวัสดี คุณ <%= name.name %>
                </h1>
                <% for(var i=rows.length-1; i>= 0; i--) { %>
                    <% if(rows[rows.length-1].dateinf !='Fri Jan 01 2010 23:03:28 GMT+0700 (Indochina Time)' ){ %>
                        <h5>ทำการตรวจวันที่ <%= new Intl.DateTimeFormat('th-TH', { year: 'numeric' , month: 'long' ,
                                day: '2-digit' }).format(new Date(rows[i].dateup)) %> และคาดว่าคุณติดเชื้อวันที่ <%= new
                                    Intl.DateTimeFormat('th-TH', { year: 'numeric' , month: 'long' , day: '2-digit'
                                    }).format(new Date(rows[i].dateinf)) %>
                        </h5>
                        <% } else{ %>
                            <h5>ทำการตรวจวันที่ <%= new Intl.DateTimeFormat('th-TH', { year: 'numeric' , month: 'long' ,
                                    day: '2-digit' }).format(new Date(rows[i].dateup)) %> และไม่พบเชื้อ</h5>
                            <% } %>
                                <% break %>
                                    <% } %>

                                        <a href="/logout" class="btn btn-danger" style="float:right">ออกระบบ</a>

            </div>
        </div>
        <br>

        <div class="form-goup">
            <form action="/img" method="POST" enctype="multipart/form-data">
                <input type="file" name="file" id="input-files" class="from-control border">
                <input type="text" name="email" id="_rname" class="form-control" placeholder="Name"
                    value="<%= name.email %>" hidden>

                <form action="/action_page.php">
                    <label for="birthday">วันที่ตรวจ:</label>
                    <input type="date" id="birthday" name="birthday" required>
                    <input type="checkbox" name="check" id="mcb">ATKขึ้น 2 ขีด
                    <label for="birthday1" id="tb">วันที่คิดว่าติดเชื้อ:</label>
                    <input type="date" id="birthday1" name="birthday1">

                    <br>
                    <label for="birthday">ยี่ห้อที่ตรวจ:</label>
                    <input type="text" id="info" name="info2" placeholder="ยี่ห้อ" required>
                    <span >&nbsp;&nbsp;&nbsp;&nbsp;</span>  

                    <label for="birthday1" >หมายเหตุ:</label>
                    
                    <input type="text" id="info" name="info" placeholder="หมายเหตุ">
                    
                        
                    <button type="submit" class="btn btn-primary ml-5">อัพโหลด</button>


                </form>

                <br>
                <br>
            </form>


            </form>

        </div>
        <style>
            table,
            th,
            td {
                border: 1px solid black;
                border-collapse: collapse;
            }

            th,
            td {
                padding: 5px;
            }
        </style>
        <table style="width:100%" id="mytable">


            <thead>
                <tr>
                    <th>
                        <center>แสดงรูป</center>
                    </th>
                    <th>
                        <center>ยี่ห้อที่ตรวจ</center>
                    </th>
                    <th>
                        <center>ตรวจครั้งที่</center>
                    </th>
                    <th>
                        <center>วัน/เดือน/ปี ที่ตรวจ</center>
                    </th>
                    <th>
                        <center>ติดเชื้อหรือไม่</center>
                    </th>
                    <th>
                        <center>วันที่คิดว่าติด</center>
                    </th>
                    <th>
                        <center>หมายเหตุ</center>
                    </th>
                    <th>
                        <center>ลบข้อมูล</center>
                    </th>
    
                </tr>
            </thead>
            <tbody>
                <% var counter = 1; %>
                <% for(var i=0; i < rows.length; i++) { %>
                    
                    <tr>
                        <td>
                            <center> <img src=<%=rows[i].filename %> width="300" height="300"></center>
                        </td>
                        <td>
                            <center><%= rows[i].atk %></center>
                        </td>
                        <td>
                            <% if(i != 0 && rows[i].dateup.getDate() == rows[i-1].dateup.getDate() && rows[i].dateup.getMonth() == rows[i-1].dateup.getMonth()){ %>
                                <% counter += 1; %>
                                <center><%- counter %></center>
                              <% } else if(i == 0){ %>  
                                <center>1</center>
                                
                            <% } else{ %>
                                <% counter = 1; %>
                                <center><%- counter %></center>
                             <% } %>
                        </td>
                        <td>
                            <center>วันที่ <%= new Intl.DateTimeFormat('th-TH', { year: 'numeric' , month: 'long' ,
                                    day: '2-digit' }).format(new Date(rows[i].dateup)) %>
                            </center>
                        </td>
                        <% if(rows[i].dateinf=='Fri Jan 01 2010 23:03:28 GMT+0700 (Indochina Time)' ){ %>
                            <td>
                                <center>ไม่ใช่</center>
                            </td>
                            <% } else{ %>
                                <td>
                                    <center style="color: red;">ใช่</center>
                                </td>
                                <% } %>
                                    <!-- <td><center>ใช่</center></td> -->
                                    <% if(rows[i].dateinf=='Fri Jan 01 2010 23:03:28 GMT+0700 (Indochina Time)' ){ %>
                                        <td>
                                            <center>-</center>
                                        </td>
                                        <% } else{ %>
                                            <td>
                                                <center>
                                                    <center>วันที่ <%= new Intl.DateTimeFormat('th-TH', { year: 'numeric' ,
                                                            month: 'long' , day: '2-digit' }).format(new
                                                            Date(rows[i].dateinf)) %>
                                                    </center>
                                                </center>
                                            </td>
                                            <% } %>
    
    
                                                <td>
                                                    <center>
                                                        <%= rows[i].note %>
                                                    </center>
                                                </td>
    
                                                <td>
                                                    <center><a href="remove/<%= rows[i].id %>" class="btn btn-sm btn-danger"
                                                            onclick="return confirm('ต้องการลบรูปหรือไม่')">ลบข้อมูล
                                                    </center></a>
                                                </td>
    
                    </tr>
                    <% } %>
            </tbody>


        </table>
        <script>
            $(document).ready(function () {
                $("#mytable").DataTable();
            });
        </script>
    </div>
    <script>
        var check = document.getElementById("mcb")
        var date = document.getElementById("birthday1");
        var text = document.getElementById("tb")

        date.value = "0001-01-01"
        date.style.visibility = "hidden"
        text.style.visibility = "hidden"
        check.addEventListener('change', (e) => {
            if (check.checked) {
                date.style.visibility = "visible"
                text.style.visibility = "visible"
            } else {
                date.style.visibility = "hidden"
                text.style.visibility = "hidden"
            }
        })


    </script>
</body>

</html>